.page #indexPage fieldset{
    float: none !important;
    display: inline-table;
    background-image:-webkit-linear-gradient(right, #e2967e 30%, #fef3f0 100%);
    background-image: -o-linear-gradient(right, #e2967e 30%, #fef3f0 100%);
    background-image: -moz-linear-gradient(right, #e2967e 30%, #fef3f0 100%);
    background-image: linear-gradient(right, #e2967e 30%, #fef3f0 100%);
}

.page #indexPage span{
    display: block;
    text-align: center; 
    margin-bottom: 5px;
}
.page #indexPage h2{
    font-family: "Arial";
}